<div class="container mt-5">
			<h2><%= @list.name %></h2>

			<div class="card mt-2 p-2">
				<% @list.movies.each do |movie| %>
				<h3><%= movie.title %></h3>
				<h5><%= movie.overview %></h5>
					<% movie.bookmarks.each do |bookmark| %>
						<% if bookmark.list_id == @list.id %>
						<h5 class="font-italic"><%= bookmark.comment %></h5>
						<%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
     				 <i class="fas fa-trash-alt" style="color:slategray;"></i>
     				 <hr style="color:lightgray; width:90%">
   					 <% end %>
						<% end %>
					<% end %>
				<% end %>

			</div>
		

		<div class="d-flex mt-2">
			<%= link_to("Add a bookmark", new_list_bookmark_path(@list), :class => "btn btn-outline-secondary mr-2") %>
			<%= link_to("Back to lists", lists_path(@lists), :class => "btn btn-outline-secondary") %>
		</div>

</div>